body {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: "Gowun Dodum", sans-serif;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 40px;
}
h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 30px;
}
